* {
    margin: 0;
    padding: 0;
}

header{
    padding-top: 30px;
    height: 100vh;
<<<<<<< HEAD
 /*   background: linear-gradient(to right top,  #ed4264, #ffedbc);*/
}
h3,h2, h1{
    color: #322239;
=======
    background: linear-gradient(to left top,  rgba(0, 250, 0, 0.5),  rgba(250,0,0, 0.8)),  linear-gradient(to left bottom, rgba(0,0,255, 0.3),  rgba(250,0,255, 0.8));
/*        background: linear-gradient(to right top,  #ed4264, #ffedbc),  linear-gradient(to left bottom, rgba(20, 20, 20, 0.3),  rgba(124, 213, 100, 0.8));*/
}
h3, h1{
    color: #333;
>>>>>>> nw_branch
    text-align: center;
}
