* {
    margin: 0;
    padding: 0;
}

header{
    padding-top: 30px;
    height: 100vh;
    background: linear-gradient(to right top,  #ed4264, #ffedbc);
}
h3, h1{
    color: #333;
    text-align: center;
}
